@model Web.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Produkter";
}
    <a class="btn-sm btn-outline-secondary" href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h1>Produkter</h1>
<div >
    @if(!User.Identity.IsAuthenticated)
    {
    <div class="text-center">
        <p>Du måste vara inloggad för att kunna handla.</p>
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </div>
    }
    
    @if (Model.Products.Count() > 0)
    {
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="row d-flex flex-row justify-content-around flex-wrap m-2">
                    <partial name="_Product" model="product" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <h4 class="text-uppercase">Finns inga produkter att visa</h4>
        </div>
    }
</div>