@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Välkommen!</h3>
    <a class="btn btn-secondary" asp-area="" asp-controller="Product" asp-action="Index">Visa alla produkter</a>
</div>
