@{ ViewData["Title"] = "Privacy"; }

<h3>@ViewData["Title"]</h3>
<p>Vi specialicerar oss i att sälja kläder till katter.</p>

<h3>Personlig data och dina rättigheter och skyldigheter</h3>
<p>
    Vi är måna om att ni ska känna förtroende för oss i hur vi hanterar era uppgifter.
</p>
<p>Du måste vara över 18 år för att få använda vår tjänst.</p>
<p>
    Din personliga information hittar du på dina sidor.
    Här kan du hitta allt som vi har lagrat om dig. Du kan själv hantera dina uppgifter där.
    Du kan även där välja att ta bort all personlig information.
</p>

<p>
    Vi hanterar endast nödvändig information för att kunna hantera din order.
    Vi säljer inte vidare data om dig till tredje part. Endast i de fall där vi behöver dina uppgifter för att
    genomföra nödvändiga transaktioner i anslutning till din beställning, kommer vi lämna över uppgifter till tredje part.
    Exempel på detta är vår betalningsleverantör.
</p>

<p>Här är vilken information vi lagrar om dig:</p>
<p>- epost</p>
<p>- telefonnummer</p>
<p>- adressuppgifter</p>
<p>- orderhistorik</p>

<h3>Varför behöver vi uppgifterna?</h3>
<p>För att kunna leverera en produkt till dig.</p>
<p>För att bekräfta vem du är</p>
<p>För att du ska kunna använda vår tjänst</p>

<h3>Vill du rätta eller ta bort dina uppgifter?</h3>

<p>Du har rätt att en gång per år skicka in en begäran om att rätta eller ta bort dina uppgifter hos oss.</p>
<p>Du kan inte begära att få redan genomförda beställningar borttagna ur vårt system.</p>
<p>Du kan alltid gå in på dina sidor och ändra dina uppgifter själv eller ta bort ditt konto.</p>

<h3>Cookies</h3>
<p>
    När du använder vår tjänst accepterar du att vi lagrar nödvändiga cookies.
    Vi använder cookies för att du ska kunna använda vår tjänst.
    Det som lagras i cookien är information om kundvagnen, för att du ska fortsätta vara inloggad, inga känsliga personuppgifter.
</p>
